/* Default & recommended CSS settings */
*, *:before, *:after {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;  
}

html {
    overflow: auto;
    font-family: 'Lato';
}

header, footer {
    background-color: #AAA;
    color: #FFF;
    padding: 15px 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}


/******************************** H E A D E R ********************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 40px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0.5em;
    text-decoration: none;
    color: #FFF;
}
a:hover{
    text-decoration: underline;
}


/********************************** M A I N **********************************/

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1170px;
}

.profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile img {
    max-width: 120px;
    max-height: 120px;
}

h1, h2 {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 45px;
}

.row {
    display: flex;
    flex-direction: row;
}

/*  INDEX  */

.index-img {
    width: 50%;
    margin: 20px;
}

/*  PAGE DE CONNEXION  */

.connexion-forms {
    display: flex;
}

.connexion-form {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    height: fit-content;
    border: 1px solid black;
    padding: 20px;
}

.left {
    margin-right: 1%;
}

.right {
    margin-left: 1%;
}

/*Affichage pokemon*/

.cell{
    width: 30%;
    margin: 1em;
    height: 200px;
}

.little-cell{
    width: 50%;
}

.image-size{
    max-width: 100%;
    max-height: 100%;
}

.message {
    color: red;
    font-weight: bold;
}

/*************************** A D D   P O K E M O N ***************************/

.add-pokemon {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.input-field, .submit-btn {
    width: 100%;
    height: 3em;
    padding: 16px;
    font-size: 20px;
    margin: 1em 0;
    border-radius: 4px;
}

.submit-btn {
    padding: 1em;
    margin-top: 1em;
    border-radius: 4px;
    border: 0;
    background-color: #4CAF50;
    color: white;
    font-family: "Lato";
    cursor: pointer;
    font-weight: bold;
}
.submit-btn:hover{
    background-color: #3D9C3D;
}

.add-pokemon .input-field {
    font-size: 15px;
}

/******************************** F O O T E R ********************************/

footer {
    margin-top: 0;
    width: 100%;
    text-align: center;
}
