/*  GLOBAL  */


html {
    overflow: hidden;
}

body{
    margin: 0;
}

header, footer{
    background-color: #AAA;
    color: #FFF;
    padding: 15px 30px;
    margin: 0;
}

.div-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.display-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul{
    
    list-style: none;
}
a{
    padding: 0.5em;
    text-decoration: none;
    color: #FFF;
}
a:hover{
    text-decoration: underline;
}

.logo{
    height: 40px;
}

main{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

main >h1{
    font-size: 45px;
    text-transform: uppercase;
}

.center{
    text-align: center;
}

/*  INDEX  */

.img-index{
    width: 50%;
}

/*  PAGE DE CONNEXION  */

.left-div{
    width: 49%;
    margin-right: 1%;
}

.right-div{
    width: 49%;
    margin-left: 1%;
}
